* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
}

header {
    background: url(images/bridge.png) no-repeat;
    max-width: 1920px;
    height: 740px;
    background-size: cover;
}

.logo {
    position: absolute;
    left: 405px;
    top: 20px;
}

.menu {
    position: absolute;
    top: 30px;
    left: 1465px;
}

h1 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 734px;
    margin: 0 auto;
    position: absolute;
    left: 593px;
    top: 192px;
}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 593px;
    top: 398px;
    width: 734px;
}

.digit {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.year {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.market {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.stage {
    width: 1110px;
    position: absolute;
    width: 1110px;
    height: 300px;
    left: 405px;
    top: 590px;
    background: #F7F7F7;
}

.how-long {
    width: 190px;
    height: 186px;
    padding-top: 57px;
}

.stage {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.big-projects img {
    width: 350px;
    height: 380px;
}

.big-projects figure {
    max-width: 350px;
    height: 578px;
    margin: 0;
}

.big-projects h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
    position: absolute;
    left: 706px;
    top: 990px;
    width: 506px;
}

.big-projects figcaption {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin-top: 45px;
    background: url(images/stick.png) no-repeat;
    background-position: left top;
}

.big-projects p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.projects {
    display: flex;
    gap: 30px;
    left: 405px;
    top: 1093px;
    position: absolute;
    padding-top: 55px;
}

.the-smartest {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    height: 181px;
    top: 1821px;
    background-color: #F7654A;
}


.the-smartest h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    width: 537px;
    position: absolute;
    left: 405px;
    top: 30px;
    text-align: left;
}

.the-smartest h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin: 0 auto;
    position: absolute;
    left: 405px;
    top: 107px;
    text-transform: uppercase;
}

.the-smartest button {
    background: url(images/mail.png) no-repeat;
    background-color: #FFFFFF;
    background-position: right 80% center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 14px 30px 14px 64px;
    border-style: none;
    position: absolute;
    left: 1340px;
    top: 73px;
    text-transform: uppercase;
}

.busy {
    position: absolute;
    width: 1110px;
    height: 639px;
    left: 405px;
    top: 2152px;
}

.busy h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    margin-left: 0 auto;
    width: 351px;
    position: absolute;
    left: 379px;
    top: 0;
}

.industries {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.industries figure {
    width: 350px;
    height: 250px;
    text-align: center;
    margin: 0;
    padding-top: 66px;
}

.industries figcaption {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    width: 172px;
    margin-left: 86px;
    margin-top: 20px;
}

.industries img {
    vertical-align: middle;
    margin-top: 59px;
}

.busy .industries {
    margin-top: 66px;
}

.gallery {
    position: absolute;
    max-width: 1920px;
    height: 814px;
    top: 2941px;
}

.gallery img {
    width: 25%;
    border: none;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}


.list {
    position: absolute;
    width: 730px;
    height: 452px;
    left: 0;
    top: 103px;
}

summary {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #F7654A;
}

details {
    padding-bottom: 30px;
}

ol {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    padding: 0;
}

.questions {
    position: absolute;
    height: 452px;
    left: 405px;
    top: 3905px;
}

.questions h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    position: absolute;
    width: 321px;
    height: 53px;
    left: 394px;
    top: 0;
}

.partners {
    max-width: 1920px;
    width: 100%;
    background: #404149;
    position: absolute;
    left: 0px;
    top: 4507px;
}

.partners h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    position: absolute;
    left: 832px;
    top: 100px;
    width: 256px;
    margin: 0;
}

.partners img {
    width: 170px;
    height: 61px;
}

.sponsors {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 203px;
    margin-bottom: 100px;
}

.reviews {
    position: absolute;
    width: 1126px;
    height: 431px;
    left: 405px;
    top: 5021px;
}

.reviews H2 {
    position: absolute;
    width: 398px;
    height: 53px;
    left: 356px;
    top: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    margin: 0;
}

.reviews p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    width: 290px;
    height: 143px;
    margin: 16px 30px 68px 30px;
}

.review img {
    margin-left: 30px;
}

.review-info {
    width: 292px;
    position: absolute;
    left: 28px;
}

.review {
    display: flex;
    position: absolute;
    top: 130px;
    gap: 30px;
}


abbr {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #F7654A;
    display: inline;
    margin: 0;
    padding-right: 60px;
}

.reviews span {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000000;
    display: inline;
    margin: 0;
}

.review {
    width: 350px;
}

.users {
    position: absolute;
    top: 406px;
}

.work {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    height: 181px;
    top: 5602px;
    background-color: #F7654A;
}


.work h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    width: 586px;
    position: absolute;
    left: 405px;
    top: 30px;
    text-align: left;
}

.work h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin: 0 auto;
    position: absolute;
    left: 405px;
    top: 107px;
    text-transform: uppercase;
}

.work button {
    background: url(images/mail.png) no-repeat;
    background-color: #FFFFFF;
    background-position: right 80% center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 14px 30px 14px 64px;
    border-style: none;
    position: absolute;
    left: 1340px;
    top: 73px;
    text-transform: uppercase;
}

.contacts {
    width: 1110px;
    height: 304px;
    position: absolute;
    left: 405px;
    top: 5883px;
}

.contacts h2 {
    position: absolute;
    width: 159px;
    height: 53px;
    left: 475px;
    top: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}

.contacts-items {
    position: absolute;
    top: 113px;
}

.contacts .con-item3,
.con-item4 figure img {
    text-align: center;
}

.con-item4 img {
    padding-left: 100px;
}

.con-item4 p {
    padding-top: 10px;
    padding-bottom: 14px;
    margin-bottom: 0;
}



.contacts figure p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.con-item4 figcaption {
    color: #F7654A;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 10px;
}

.contacts .con-item1,
.con-item2,
.con-item3 figcaption {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.contacts-items figure {
    margin: 0;
}

.contacts-items {
    display: flex;
    gap: 30px;
}

.contacts-items figure {
    width: 251px;
    height: 22px;
}


footer {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 6337px;
}

.company {
    width: 251px;
    height: 22px;
}

.footer-info {
    display: flex;
    position: absolute;
    top: 30px;
    gap: 639px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #404149;
    padding: 30px 350px 30px 403px;
}



